html {
    /*width:1920px;*/
}
body {
    display: block;
}
#p_0{
    background-image: url("img/generic-background-0.png");
    min-height:100%;
}

.p {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.p p {
    line-height: 800px;
    font-family: sans-serif;
    font-size: 64px;
    color: #fff;
    text-shadow: 0px 0px 32px #fff3db;
}

#p_1 {
    background-image: url("img/generic-title-_w-no-text.png");
}

#t_0 {
    background-color: #545454;
}

.t {
    min-height: 200px;
    font-family: sans-serif;
    font-size: 24px;
    color: #bbb;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 0px 0px 32px #fff;
    z-index: 1;
    position: relative;
}

.t a {
    text-decoration: none;
    color: #fff;
}

.t a:visited {
    text-decoration: none;
    color: #eee;
}
.t .title {
    color:#fff;
    font-size:32px;
    padding-top: 0;
}
* {
    padding: 0;
    margin:0;
}

@media only screen and (min-width:1027px) {
    .p p {
        font-size:64px;
        transition:250ms;
    }
}

@media only screen and (min-width:752px) and (max-width:1026px) {
    .p p {
        font-size: 48px;
        transition: 250ms;
    }
}

@media only screen and (max-width:751px) and (min-width:497px) {
    .p p {
        font-size: 32px;
        transition: 250ms;  
    }
    
    .t {
        font-size: 20px;
        transition: 250ms;
    }
    .t .title {
        font-size:28px;
        transition:250ms;
    }
}

@media only screen and (max-width:496px) {
    .p p {
        font-size: 24px;
        transition:250ms;
    }   
    .t {
        font-size: 16px;
        transition: 250ms;
        padding-left:40px;
        padding-right:40px;
    }
    .t .title {
        font-size:24px;
        transition:250ms;
    }
}